<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title><%= title%></title>
    <%- include('partials/head') %>
  </head>
  <body>
    <%- include('partials/navigation')%>

    <main class="vh-100 container pt-2 text-center d-flex justify-content-center align-items-center">
      <section>
        <h1 class="display-1">About</h1>
        <p>
          Lorem ipsum dolor sit amet, consectetur adipisicing elit. Vero dolorum
          hic esse quaerat minus ad aspernatur possimus, itaque beatae cumque
          omnis earum sed optio. Maxime accusamus commodi impedit error,
          cupiditate ab nesciunt qui alias? Exercitationem ipsa error nihil
          officiis accusamus reprehenderit, officia eius facilis dolores
          aperiam? Recusandae nisi explicabo dolorem dolor! Exercitationem qui,
          et magni animi earum nesciunt est eum sed perferendis, voluptatem sunt
          autem aperiam consectetur optio accusamus, cupiditate doloribus.
          Molestiae quidem ea corporis minima deleniti ipsa, repellat accusamus
          ratione voluptate iusto veritatis commodi nihil. Accusantium beatae
          facere, omnis voluptates quas eaque ullam officia eligendi
          perspiciatis iste veniam dolor ad quod! Facilis illo distinctio ipsa
          impedit inventore iure quo mollitia exercitationem atque! Animi
          aperiam, ea nisi laudantium, veritatis saepe, nesciunt aut natus illum
          quam fuga neque hic ad nam magnam harum eum facere nulla voluptatum ab
          blanditiis veniam. Dolor iste ea possimus officiis nostrum unde
          delectus deserunt distinctio alias mollitia temporibus est
          necessitatibus, doloribus corrupti hic consectetur ipsum? At incidunt
          eum accusantium distinctio corrupti? Reprehenderit, recusandae odio
          consequuntur harum sunt adipisci amet delectus placeat et maxime autem
          iure magnam vitae culpa minus perferendis deserunt animi blanditiis
          voluptatibus corrupti, eligendi maiores ullam. Natus repellendus quae
          sed delectus, cumque dolor aspernatur, minus sint molestias
          voluptatibus rem, in quia quo aperiam. Libero repudiandae ex nemo
          fugit dolore nihil voluptas placeat officiis ratione itaque iure,
          dicta molestias autem, porro quo ducimus neque debitis reiciendis
          recusandae qui repellendus veniam inventore ullam! Aut odio id magnam
          nemo, voluptatem soluta asperiores assumenda cupiditate ut a dicta
          maiores eveniet in officia ducimus quas libero cumque sequi eligendi
          facilis perferendis explicabo aliquid. Voluptatem quas, deserunt
          doloribus soluta qui, optio unde fugiat quae, atque natus error libero
          nesciunt rem magni enim aliquam. Maxime deserunt at laboriosam
          officiis asperiores perferendis accusantium fugiat repellat, accusamus
          autem voluptate error, a perspiciatis magni.
        </p>
      </section>
    </main>
    <%- include('partials/footer') %>
  </body>
</html>
